{% extends "base.html" %}
{% block content %}

<div>
  <header>
    <nav>
      <div class="row">
        <div class="col-sm-3" id="sidebar">
          <img src="../static/images/logo_soundtrack.png" class="logo-bar">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link"  href="/feed">
                <i class="bi bi-house-door-fill"></i> <span class="icon-text">Inicio</span>
              </a>
          </li>
          <li class="nav-item active" aria-current="page">
            <a class="nav-link" href="/post">
              <i class="bi bi-plus-circle-fill"></i> <span class="icon-text">Crear</span>
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/profile">
                <i class="bi bi-person-circle"></i> <span class="icon-text">Perfil</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/login">
                <i class="bi bi-box-arrow-right"></i> <span class="icon-text">Cerrar sesión</span>
              </a>
          </li>
        </ul>       
        </div>
    </nav>
  </header>
</div>
<div id="content">
  <h1>Bienvenido a tu feed</h1>
  {% for post in posts %}
  <div class="card" id="post">
      <div class="card-header">
          {{post.nickname}}
      </div>
      <a href="{{ url_for('detailsPost', idPost=post.idPost) }}">
      <img src="{{ url_for('uploaded_file', filename=post['photopost'].split('/')[-1]) }}"  class="card-img-top" alt="...">
      </a>
      <div class="card-body">
          <h5 class="card-title">{{ post.titlePost }}</h5>
          <p class="card-text">{{ post.description }}</p>
          <p class="card-text">{{post.category}}</p>
          <p class="card-text"{{post.createdAt}}></p>
      </div>
  </div>
  {% endfor %}
</div>
</div>

{% endblock %}